{% extends "_base.html" %}
{% block content %}
  <section class="presentation">
    <h1>Max Ludvigsson</h1>
    <p>
      I'm a data scientist and software engineer doing data products at HSBC in Hong Kong.
    </p>
  </section>
  <section class="weekly-notes">
    <h2>Weekly notes</h2>
    <nav>
    {% for row in sql("select * from weekly_notes order by date DESC") %}
      <a href="/notes/{{ row["date"] }}">
        {{ row["date"] }}
      </a>
    {% endfor %}
    </nav>
  </section>
  <section class="other">
    <h2>Other things</h2>
    <nav>
      <a href="/flashcards">
        Last studied flashcards
      </a>
    </nav>
  </section>
{% endblock %}
